Three Amigos/Service References/BazzarsBazaar/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Three_Amigos.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceContract_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="ServiceContract_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceContract_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ServiceContract_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceContract_GetCategoriesById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesById" />
  </wsdl:message>
  <wsdl:message name="ServiceContract_GetCategoriesById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceContract">
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceContract/GetProductById" message="tns:ServiceContract_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceContract/GetProductByIdResponse" message="tns:ServiceContract_GetProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceContract/GetCategories" message="tns:ServiceContract_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceContract/GetCategoriesResponse" message="tns:ServiceContract_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesById">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceContract/GetCategoriesById" message="tns:ServiceContract_GetCategoriesById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceContract/GetCategoriesByIdResponse" message="tns:ServiceContract_GetCategoriesById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BazzarsBazaar.ServiceContract" type="tns:ServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/ServiceContract/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/ServiceContract/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesById">
      <soap:operation soapAction="http://tempuri.org/ServiceContract/GetCategoriesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BazzarsBazaar.ServiceContract" binding="tns:BazzarsBazaar.ServiceContract">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BazzarsBazaar/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>