Three Amigos/Service References/BazzarsBazaar/Three_Amigos.Contracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Three_Amigos.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Three_Amigos.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOProducts">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" type="xs:int" />
      <xs:element minOccurs="0" name="Ean" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtensionData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InStock" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceForOne" type="xs:double" />
      <xs:element minOccurs="0" name="PriceForTen" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOProducts" nillable="true" type="tns:DTOProducts" />
  <xs:complexType name="ArrayOfDTOCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOCategories" nillable="true" type="tns:DTOCategories" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOCategories" nillable="true" type="tns:ArrayOfDTOCategories" />
  <xs:complexType name="DTOCategories">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableProductCount" type="xs:int" />
      <xs:element minOccurs="0" name="Description" type="xs:int" />
      <xs:element minOccurs="0" name="ExtensionData" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOCategories" nillable="true" type="tns:DTOCategories" />
</xs:schema>